################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MOE.CustomActivity/v16/Server/sqlite3
